.root {
  :global {
    min-height: 800px;
    .header_image {
      background-color: transparent;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('~@/assets/image/about/homeHeader.jpg');
      background-position: 0 0, 30% 35%;
      background-repeat: repeat, repeat;
      background-size: auto, cover;
      background-attachment: scroll, scroll;
      border-bottom: 1px solid #e4ebf3;
      padding: 20px 30px;
      position: relative;
      overflow: visible;
      .hero-heading {
        color: #fff;
        text-align: right;
        font-family: Exo, sans-serif;
        font-size: 40px;
        font-style: italic;
        font-weight: 700;
        line-height: 60px;
      }
    }
    .about_container {
      width: 100%;
      .who_we_are {
        padding: 50px;

        .who_we_are_title {
          font-family: 'Open Sans ExtraBold';
          // color: #a31f34;
          font-size: 38px;
        }
        .who_we_are_content {
          margin-top: 50px;
        }
      }
      .we_work_on {
        width: 100%;
        border-radius: 30px;
        padding: 50px 60px;
        background-color: rgb(176, 201, 230);
        margin-bottom: 60px;
        font-family: 'Open Sans';
        .we_work_on_content {
          display: flex;
          flex-direction: column;
          .we_work_on_content_item {
            margin-top: 30px;
            .we_work_on_title {
              width: 100%;
              height: 70px;
              font-weight: 600;
              line-height: 70px;
              font-size: 2em;
              overflow-wrap: break-word;
              overflow: hidden;
            }
            .we_work_on_research {
            }
          }
        }
      }
      .news {
        font-family: 'Open Sans';
        margin-bottom: 60px;
        margin-top: 30px;
        padding: 0 50px;
        .news_text {
          margin-bottom: 50px;
        }
        .news_item {
          display: flex;
          font-size: 22px;
          list-style: circle;
          a {
            color: #000;
          }
          .news_time {
            padding: 10px;
            white-space: nowrap;
          }
          .news_title {
            padding: 10px;
            .news_title_link {
              text-decoration: solid;
            }
          }
        }
      }
      .paper {
        font-family: 'Open Sans';
        padding: 0 50px;
        .paper_title {
          margin-bottom: 50px;
        }
        .paper_content {
          display: flex;
          flex-wrap: wrap;
          a {
            color: #000;
          }
          .paper_contetn_item {
            margin: 10px;
            cursor: pointer;
            .paper_image_content {
              height: 300px;
              width: 100%;
              border-radius: 20px;
              box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
              transition: transform 0.3s ease;
              &:hover {
                transform: translate3d(0, -5px, 0);
              }
              .paper_image {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .paper_title {
              font-weight: 600;
              line-height: 1.5em;
              margin-top: 20px;
              margin-bottom: 10px;
              font-size: 24px;
            }
            .paper_place {
              font-size: 20px;
            }
            .paper_contetn {
              margin-top: 10px;
              font-size: 1rem;
              line-height: 1.75em;
            }
          }
        }
      }
    }
  }
}
@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
