.root {
  :global {
    font-family: PingFang-SC-Regular;
    min-height: 900px;
    padding-bottom: 50px;
    .teacherDetail_top {
      width: 100%;
      height: 50vh;
      min-height: 500px;
      background-image: url('@/assets/image/TeacherDetail/bg.jpg');
      background-position: 0 0, 0 0;
      background-size: auto, cover;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .avatar_content {
        .ant-avatar {
          img {
            // height: 128%;
          }
        }
        .avatar {
          width: 139px;
          height: 185px;
          transform: scale(0.5);
        }
      }

      .name {
        color: #fff;
        text-align: center;
        margin-top: 25px;
        font-size: 4rem;
        font-weight: 400;
      }
      .backdrop {
        color: #fff;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 1.25rem;
        font-weight: 300;
      }
    }
    .teacherDetail_container {
      margin-top: 50px;
      .introduce_content {
        border-bottom: 1px solid #dcd9d9;

        .introduce {
          padding: 10px;
          width: calc(100% - 100px);
          font-family: PingFang-SC-Regular;
          font-weight: 400;
          font-size: 18px;
          color: #666666;
          line-height: 31px;
          text-align: justify;
          a {
            color: #000;
            &:hover {
              font-weight: 700;
            }
          }
          .weight_title {
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            font-size: 20px;
            color: #035b9e;
            line-height: 31px;
          }
        }
      }

      .about_title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 38px;
        font-weight: 800;
        line-height: 44px;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
      }
      .about {
        text-align: justify;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        line-height: 31px;
      }
      .title_text {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 38px;
        font-weight: 800;
        line-height: 44px;
      }
      .content_item {
        text-align: justify;
        font-size: 1.125rem;
        line-height: 1.75em;
      }
    }
  }
}
