.root {
  :global {
    margin-top: 114px;
    .team_content {
      background-color: white;
      border: 1px solid #dcd9d9;
      padding: 36px;
      .team_content_top {
        display: flex;
        margin-right: 10px;
        height: 212px;
        padding: 36px;
        border-bottom: 1px solid #dcd9d9;
        .avatar {
          transform: translateY(-106px);

          img {
            width: 254px;
            height: 251px;
          }
        }
        .top_right {
          margin-left: 36px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .name {
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            font-size: 25px;
            color: #000000;
            line-height: 31px;
          }
          .introduce {
            font-family: PingFang-SC-Regular;
            font-weight: 400;
            font-size: 18px;
            color: #666666;
            line-height: 31px;
          }
        }
      }
      .team_content_bottom {
        .Introduction {
          font-family: PingFang-SC-Bold;
          font-weight: bold;
          font-size: 20px;
          color: #035b9e;
          line-height: 31px;
          padding: 26px;
        }
        .name {
          font-weight: 700;
          font-size: 1.5em;
        }
        .introduce {
          padding: 20px;
          text-align: justify;
          font-family: PingFang-SC-Regular;
          font-weight: 400;
          font-size: 18px;
          color: #666666;
          line-height: 31px;

          a {
            color: #000;
            &:hover {
              font-weight: 700;
            }
          }
          .weight_title {
            font-size: 18px;
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
