.root {
  :global {
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: 50px;
    .memberDetail_container {
      width: 100%;
      .MemberDetail_content {
        padding: 30px;
        display: flex;
        border-bottom: 1px solid #dcd9d9;
        .MemberDetail_left {
          margin-right: 30px;
          .avatar {
            width: 128px;
            height: 168px;
            object-fit: cover;
            object-position: center;
          }
        }
        .MemberDetail_right {
          .type {
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            font-size: 18px;
            color: #666666;
            line-height: 31px;
          }
          .member_name {
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            font-size: 25px;
            color: #000000;
            line-height: 31px;
          }
          .introduce {
            font-family: PingFang-SC-Regular;
            font-weight: 400;
            font-size: 18px;
            color: #666666;
            line-height: 31px;
          }
        }
        .weight_title {
          font-family: PingFang-SC-Regular;
          font-weight: 600;
          font-size: 18px;
          color: #666666;
          line-height: 31px;
          margin-right: 5px;
        }
      }
      .memberData_title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        font-size: 20px;
        color: #035b9e;
        line-height: 31px;
      }

      .Publications_content {
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        line-height: 31px;
        .Publications_item {
          text-align: justify;
          white-space: pre-line;
          text-indent: -14px;
          &::before {
            content: '\2022'; /* 使用 Unicode 编码表示圆点 */
            margin-right: 5px; /* 调整圆点与文本的距离 */
          }
        }
      }
      .ResearchProjects_content {
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        line-height: 31px;
        .Publications_item {
          text-align: justify;
          white-space: pre-line;
          text-indent: -14px;
          &::before {
            content: '\2022'; /* 使用 Unicode 编码表示圆点 */
            margin-right: 5px; /* 调整圆点与文本的距离 */
          }
        }
      }
      .Meetings_content {
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        line-height: 31px;
        text-align: justify;
      }
      .Awards_content {
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        line-height: 31px;
        text-align: justify;
        .Meetings_item {
          &::before {
            content: '\2022'; /* 使用 Unicode 编码表示圆点 */
            margin-right: 5px; /* 调整圆点与文本的距离 */
          }
        }
      }
      .more_container {
        margin-bottom: 10px;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        font-size: 18px;
        color: #666666;
        line-height: 31px;
        text-align: justify;
        .more_text {
        }
        a {
          color: #666666;
          &:hover {
            color: #000;
            font-weight: 800;
          }
        }
      }
    }
  }
}
