.root {
  :global {
    // height: 800px;
    // background-color: skyblue;
    min-height: 900px;
    .memberDetail_container {
      width: 70%;
      margin: 0 auto;
      .MemberDetail_content {
        display: flex;
        .MemberDetail_left {
          margin-right: 30px;
          .avatar {
            width: 128px;
            height: 168px;
            object-fit: cover;
            object-position: center;
          }
        }
        .MemberDetail_right {
          .type {
            font-size: 18px;
            line-height: 24px;
          }
          .member_name {
            font-weight: 800;
          }
          .introduce {
            // margin-top: 20px;
            font-size: 16px;
            line-height: 30px;
          }
        }
        .weight_title {
          font-size: 18px;
          font-weight: 700;
          margin-right: 10px;
        }
      }
      .memberData_title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
      }
      .Publications_content {
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        line-height: 24px;
        .Publications_item {
          text-align: justify;
        }
      }
      .Meetings_content {
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
      }
      .Awards_content {
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
      }
    }
  }
}
