.root {
  :global {
    min-height: 900px;
    .news {
      // margin-bottom: 60px;
      // margin-left: 10%;
      // margin-right: 10%;
      padding: 50px 0;
      font-family: PingFang-SC-Regular;

      .news_item {
        display: flex;
        font-size: 22px;
        list-style: circle;
        transition: transform 0.5s;
        border-bottom: 1px solid #dcd9d9;

        a {
          color: #000;
        }
        &:hover {
          transform: scale(1.05);
        }
        .news_time {
          width: 125px;
          padding: 10px;
          font-weight: 400;
          font-size: 18px;
          color: #666666;
          line-height: 33px;
        }
        .news_title {
          width: 700px;
          padding: 10px;
          color: #000;
          font-weight: bold;
          font-size: 20px;
          color: #000000;
          line-height: 33px;
          text-align: justifyLeft;
          text-decoration: underline;
          .news_title_link {
          }
        }
      }
    }
  }
}
