.root {
  :global {
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
    }
    height: 62px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .menu_content {
      height: 62px;
      width: 100%;
      // padding: 0 48px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 999;
      .headerContent {
        height: 100%;
        width: 100%;
        // min-width: 654px;
        .logo_content {
          display: flex;
          align-items: center;
          .logo {
            width: 50px;
            height: 50px;
          }
          .myname {
            font-size: 36px;
            font-weight: 900;
            color: rgb(0, 63, 136);
            padding-right: 20px;
            // font-family: Lato;
          }
          li {
            font-family: 'Open Sans ExtraBold' !important;
            font-size: 16px;
            line-height: 24px;
          }
        }
        .menuContent {
          // height: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
          @media screen and (max-width: 1102px) {
            visibility: hidden;
          }
          li {
            font-family: 'Open Sans' !important;
            font-size: 16px;
            line-height: 24px;
          }
          .menu_item {
            color: black;
            font-family: Lato;
            padding: 10px;
            font-weight: 900;
            font-size: 16px;
            &:hover {
              color: rgb(0, 63, 136);
            }
          }
          .path_active {
            color: rgb(0, 63, 136);
          }
        }
      }
    }
  }
}
